<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
 package="com.lovelycat.betterfoliage"
        android:versionCode="1"
        android:versionName="0.0.1 build 28" >
    <uses-sdk 
	    android:minSdkVersion="8" 
	    android:targetSdkVersion="21" />
    <uses-permission 
	    android:name="net.zhuoweizhang.mcpelauncher.ADDON"/>
    <application
	 android:label="Better Foliage"
	    android:hasCode="true">
	    <intent-filter >
	     <action 
		    android:name="android.intent.action.MAIN" />
         <category 
			android:name="android.intent.category.LAUNCHER" />
	    </intent-filter>
	 <meta-data 
	    android:name="net.zhuoweizhang.mcpelauncher.api.nativelibname"
	  android:value="betterfoliage"/>
	 <meta-data 
	    android:name="net.zhuoweizhang.mcpelauncher.api.targetmcpeversion" 
		android:value="1.0.0.16"/>
    </application>
</manifest>
